<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.framework.cloud.platform.infrastructure.mapper.PayModeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.framework.cloud.platform.domain.entity.PayMode">
        <id column="id" property="id"/>
        <result column="channel_id" property="channelId"/>
        <result column="mch_id" property="mchId"/>
        <result column="mode_type" property="modeType"/>
        <result column="mode_version" property="modeVersion"/>
        <result column="notify_url" property="notifyUrl"/>
        <result column="return_url" property="returnUrl"/>
        <result column="retry_count" property="retryCount"/>
        <result column="remarks" property="remarks"/>
        <result column="enable" property="enable"/>
        <result column="create_id" property="createId"/>
        <result column="update_id" property="updateId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
        <result column="version" property="version"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, channel_id, mch_id, mode_type, mode_version, notify_url, return_url, retry_count, remarks, enable, create_id, update_id, create_time, update_time, deleted, version
    </sql>

    <select id="page" resultType="com.framework.cloud.platform.common.vo.PayModePageVO">
        select
            pm.id, pm.channel_id, pm.mch_id, pm.mode_type, pm.mode_version,
            pm.notify_url, pm.return_url, pm.retry_count, pm.remarks, pm.enable,
            pm.create_id, pm.update_id, pm.create_time, pm.update_time
        from t_pay_mode pm
        where pm.deleted = 1
        <if test="param.modeType != null">
            and pm.mode_type = #{param.modeType}
        </if>
        <if test="param.enable != null">
            and pm.enable = #{param.enable,jdbcType=BOOLEAN}
        </if>
    </select>
</mapper>